{% extends "includes/skeleton.html" %}

{% macro seo_title(content, config) -%}
    {{ content.get_meta('title') }} - {{ fp(config.site_name) }}
{%- endmacro %}

{% block head %}
<title>{{ seo_title(content, config) }}</title>
<meta name="author" content="{{ content.get_meta('author') }}" />
<meta name="description" content="{{ content.excerpt }}" />
<meta property="og:title" content="{{ seo_title(content, config) }}" />
<meta property="og:description" content="{{ content.excerpt }}" />
<meta property="og:site_name" content="{{ (config.site_name) }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ Router.gen_permalink_by_content(content) }}" />
<meta property="og:image" content="{{ content.get_meta('banner') }}" />
<meta property="article:published_time" content="{{ content.get_meta('date') }}" />
<meta name="twitter:title" content="{{ seo_title(content, config) }}" />
<meta name="twitter:description" content="{{ content.excerpt }}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:image" content="{{ content.get_meta('banner') }}" />


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.css">
<script src="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/meting@2/dist/Meting.min.js"></script>
<link rel="stylesheet" href="{{ Router.gen_static_file_prefix() }}assets/katex.min.css">
<link rel="stylesheet" href="{{ Router.gen_static_file_prefix() }}assets/PhotoSwipe/photoswipe.css"> 
<link rel="stylesheet" href="{{ Router.gen_static_file_prefix() }}assets/PhotoSwipe/default-skin/default-skin.css"> 
<script src="{{ Router.gen_static_file_prefix() }}assets/PhotoSwipe/photoswipe.min.js"></script> 
<script src="{{ Router.gen_static_file_prefix() }}assets/PhotoSwipe/photoswipe-ui-default.min.js"></script> 

{% endblock head %}

{% block main %}
<div class="post-detail">
    <article class="post">
        <h1 class="post-title">
            {{ content.get_meta('title') }}
        </h1>
        <div class="post-info">
            <time>
                {{ content.get_meta('date').format("YYYY-MM-DD") }}
            </time>
            <span>
                {{ content.get_meta('author') }}
            </span>
        </div>
        <div class="post-content-wrapper">
            <div class="post-content pswp-gallery">
                {{ content.parsed }}
            </div>
        </div>
    </article>
</div>

{% block more_section %}{% endblock more_section %}

{% endblock main %}